<!DOCTYPE html>
<html lang="es">

<!--HEAD-->
<%- include('../commons/head-horarios') %>


<body>
    <div class="contenedor-flex">
        <div class="contenedor-barra-lateral">
            <%- include('../commons/menu-secretarias') %>
        </div>
        <div class="contenedor-agregar">
            <div class="container mt-5 contenedor-agregar-horario">
                <h1 class="text-center mb-4">Agregar Horario</h1>
        
                <!-- Listado de horarios -->
                <div class="listado-horarios sombra mb-4">
                    <table class="table table-striped table-bordered border rounded shadow-lg tabla-listado">
                        <thead>
                            <tr>
                                <th>Día de la Semana</th>
                                <th>Hora de Inicio</th>
                                <th>Hora de Fin</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (horarios.length > 0) { %>
                                <% horarios.forEach(function(horario) { %>
                                    <tr>
                                        <td><%= horario.dia_semana %></td>
                                        <td><%= horario.hora_inicio %></td>
                                        <td><%= horario.hora_fin %></td>
                                    </tr>
                                <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="3" class="text-center">No hay horarios disponibles para este médico</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
        
                <!-- Formulario para agregar un nuevo horario -->
                <form>
                    <table class="table table-bordered tabla-agregar-horario">
                        <thead class="thead-dark">
                            <tr>
                                <th>Día de la Semana</th>
                                <th>Hora de Inicio</th>
                                <th>Hora de Fin</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <select class="form-select" id="dia_semana" name="dia_semana">
                                            <option value="Lunes">Lunes</option>
                                            <option value="Martes">Martes</option>
                                            <option value="Miércoles">Miércoles</option>
                                            <option value="Jueves">Jueves</option>
                                            <option value="Viernes">Viernes</option>
                                            <option value="Sábado">Sábado</option>
                                            <option value="Domingo">Domingo</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" id="hora_inicio" type="time" required>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" id="hora_fin" type="time" required>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-guardar guardar">Guardar</button>
                                    <button type="button" class="btn btn-cancelar">
                                        <a href="/medico/<%= horario.medicoId %>/horarios" class="text-decoration-none">Cancelar</a>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
                <div class="contenedor-volver-atras">
                    <i class="fa-solid fa-arrow-left"></i>
                    <a href="/medico/<%= horario.medicoId %>/horarios">Volver Atrás</a>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const botonGuardar = document.querySelector(".guardar");

        botonGuardar.addEventListener("click", async () => {
            const diaSemana = document.querySelector("#dia_semana").value;
            const horaInicio = document.querySelector("#hora_inicio").value;
            const horaFin = document.querySelector("#hora_fin").value;
            // Obtener el ID del médico de la URL
            const pathParts = window.location.pathname.split('/');
            const medicoId = pathParts[2]; // Toma el ID del médico de la ruta
            const datos = {
                dia_semana: diaSemana,
                hora_inicio: horaInicio,
                hora_fin: horaFin,
                id_medico: medicoId,
                id: 0 // Esto indica que estamos creando un nuevo horario
            };

            const results = await fetch(`/medico/${medicoId}/horarios/agregar`, {
                method: 'POST',
                body: JSON.stringify(datos),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            const data = await results.json();
            if (data.success === true) {
                Swal.fire({
                    title: 'Horario Guardado',
                    text: 'El horario se guardó exitosamente',
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.reload(); // Recarga la página actual
                    }
                });
            } else {
                alert("Hubo un problema con los valores");
            }
        });
    </script>
</body>
</html>
