<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Historia Clinica</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> <!-- Enlace a Bootstrap -->
    <link rel="stylesheet" href="/public/css/pacientes.css"> 
</head>
<body>
    <div class="container-fluid mt-5 contenedor">
        <h1 class="text-center">Agregar Historia Clinica</h1>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Paciente</th>
                        <th>Nro de afiliado</th>
                        <th>Sexo</th>
                        <th>Nacimiento</th>
                        <th>Edad</th>
                        <th>Motivo</th>
                        <th>Antecedentes Personales</th>
                        <th>Medicacion Actual</th>
                        <th>Examen Clinico</th>
                        <th>Diagnistico</th>
                        <th>Tratamiento</th>
                        <th>Domicilio</th>
                        <th>Ciudad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="datetime" id="fecha" readonly></td>                        
                        <td>
                            <select id="id_paciente">
                                <% pacientes.forEach(paciente => { %>
                                    <option value="<%= paciente.id %>"><%= paciente.nombre %></option>
                                <% }) %>
                            </select>
                        </td>
                        <td><input id="nro_afiliado" placeholder="" ></td>
                        <td><input id="sexo" placeholder="" ></td>
                        <th><input type="date" id="fecha_de_nacimiento" name="fecha_nacimiento" required></th>                       
                        <td><input type="number" id="edad" name="edad" readonly></td>
                        <td><input id="motivo" placeholder=""></td>
                        <td><input id="antecedentes_personales" placeholder=""></td>
                        <td><input id="medicacion_actual" placeholder=""></td>
                        <td><input id="examen_clinico" placeholder=""></td>
                        <td><input id="diagnostico" placeholder="Diagnostico"></td>
                        <td><input id="tratamiento" placeholder="Tratamiento"></td>
                        <td><input id="direccion" placeholder="(Domicilio)" ></td>
                        <td>
                            <select id="id_ciudad">
                                <% ciudades.forEach(ciudad => { %>
                                    <option value="<%= ciudad.id %>"><%= ciudad.nombre_ciudad %></option>
                                <% }) %>
                            </select>
                        </td>
                        
                        <td>
                            <button class="btn btn-primary guardar">Guardar</button>
                            <button class="btn btn-secondary">
                                <a href="/historiasclinicas" style="text-decoration: none; color: inherit;">Cancelar</a>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>

        // Establece la fecha actual en el campo de fecha al cargar la página
        window.addEventListener('DOMContentLoaded', (event) => {
            const fechaInput = document.getElementById('fecha');
            const today = new Date();
            const year = today.getFullYear();
            const month = (today.getMonth() + 1).toString().padStart(2, '0');
            const day = today.getDate().toString().padStart(2, '0');
            const hour = today.getHours();
            const minute = today.getMinutes();
            fechaInput.value = `${year}-${month}-${day}  ${hour}:${minute}`;
        });

        // Función para calcular la edad a partir de la fecha de nacimiento
        function calcularEdad(fechaNacimiento) {
            const hoy = new Date();
            const nacimiento = new Date(fechaNacimiento);
            let edad = hoy.getFullYear() - nacimiento.getFullYear();
            const mes = hoy.getMonth() - nacimiento.getMonth();

            // Ajustar si el mes actual es antes del mes de nacimiento o es el mismo pero el día aún no ha pasado
            if (mes < 0 || (mes === 0 && hoy.getDate() < nacimiento.getDate())) {
            edad--;
            }
            return edad;
        }

        // Obtener el input de la fecha de nacimiento y de la edad
        const inputFechaNacimiento = document.getElementById('fecha_de_nacimiento');
        const inputEdad = document.getElementById('edad');

        // Escuchar cambios en la fecha de nacimiento
        inputFechaNacimiento.addEventListener('input', function() {
            const fechaNacimiento = this.value;
            if (fechaNacimiento) {
            // Calcular la edad y actualizar el campo de edad
            const edad = calcularEdad(fechaNacimiento);
            inputEdad.value = edad;
            } else {
            inputEdad.value = ''; // Limpiar el campo si no hay fecha seleccionada
            }
        });

        const botonGuardar = document.querySelector(".guardar");
        botonGuardar.addEventListener("click", async () => {
            const historiaClinicaFecha = document.querySelector("#fecha").value.trim();
            const historiaClinicaId_paciente = document.querySelector("#id_paciente").value.trim();
            const historiaClinicaNro_afiliado = document.querySelector("#nro_afiliado").value.trim();
            const historiaClinicaSexo = document.querySelector("#sexo").value.trim();
            const historiaClinicaFecha_de_nacimiento = document.querySelector("#fecha_de_nacimiento").value.trim();
            const historiaClinicaEdad = document.querySelector("#edad").value.trim();
            const historiaClinicaMotivo = document.querySelector("#motivo").value.trim();
            const historiaClinicaAntecendentes_personales = document.querySelector("#antecedentes_personales").value.trim();
            const historiaClinicaMedicacion_actual = document.querySelector("#medicacion_actual").value.trim();
            const historiaClinicaExamen_clinico = document.querySelector("#examen_clinico").value.trim();
            const historiaClinicaDiagnostico = document.querySelector("#diagnostico").value.trim();
            const historiaClinicaTratamiento = document.querySelector("#tratamiento").value.trim();
            const historiaClinicaDireccion = document.querySelector("#direccion").value.trim();
            const historiaClinicaId_ciudad = document.querySelector("#id_ciudad").value.trim();

            // Verificar si algún campo obligatorio está vacío
            if (!historiaClinicaFecha || !historiaClinicaId_paciente || !historiaClinicaNro_afiliado || !historiaClinicaSexo || !historiaClinicaFecha_de_nacimiento || !historiaClinicaMotivo || !historiaClinicaAntecendentes_personales || !historiaClinicaMedicacion_actual || !historiaClinicaExamen_clinico || !historiaClinicaDiagnostico || !historiaClinicaTratamiento || !historiaClinicaDireccion || !historiaClinicaId_ciudad) {
                alert("Por favor, complete todos los campos.");
                return;
            }

            // Validar que la fecha de nacimiento no sea posterior a la fecha actual
            const hoy = new Date();
            const fechaNacimiento = new Date(historiaClinicaFecha_de_nacimiento);
            if (fechaNacimiento > hoy) {
                alert("La fecha de nacimiento no puede ser posterior a la fecha actual.");
                return;
            }

            // Si todo es válido, enviamos los datos
            const datos = {
                id: <%= historiaClinica.id %>,
                fecha:historiaClinicaFecha,
                id_paciente:historiaClinicaId_paciente,
                nro_afiliado:historiaClinicaNro_afiliado,
                sexo:historiaClinicaSexo,
                fecha_de_nacimiento:historiaClinicaFecha_de_nacimiento,
                edad:historiaClinicaEdad,
                motivo:historiaClinicaMotivo,
                antecedentes_personales:historiaClinicaAntecendentes_personales,
                medicacion_actual:historiaClinicaMedicacion_actual,
                examen_clinico:historiaClinicaExamen_clinico,
                diagnostico:historiaClinicaDiagnostico,
                tratamiento:historiaClinicaTratamiento,
                direccion:historiaClinicaDireccion,
                id_ciudad:historiaClinicaId_ciudad
            };

            const results = await fetch('/historiasclinicas/agregar/<%= historiaClinica.id %>', {
                method: 'POST',
                body: JSON.stringify(datos),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const data = await results.json();
            if (data.success) {
                location.href = "/historiasclinicas";
                console.log(data);
            } else {
                alert("Hubo un problema con los datos");
            }
        });
    </script>
</body>
</html>