<!DOCTYPE html>
<html lang="es">

<!--HEAD-->
<%- include('../commons/head-medicos') %>

<body>

    <div class="contenedor-flex">
        <div class="contenedor-barra-lateral">
            <!-- Mostrar el menú correspondiente basado en el idCategoriaUsuario -->
            <% if (categoria  === 1) { %>
                <%- include('../commons/menu-admin') %> <!-- Menú para administradores -->
            <% } else if (categoria  === 3) { %>
                <%- include('../commons/menu-secretarias') %> <!-- Menú para secretarias -->
            <% } else if (categoria === 2) { %>
                <%- include('../commons/menu-medicos') %> <!-- Menú para médicos -->
            <% } else { %>
                <p>No tienes permisos para ver este contenido.</p>
            <% } %>
        </div>
        <div class="contenedor-editar">
            <div class="container contenedor mt-5">
                <h1>Editar Médico</h1>
                <div class="editar-medico-contenedor">
                    <form id="editarMedicoForm" class="form-contenedor">
                        <div class="form-group mb-3">
                            <label for="id_usuario">Nombre:</label>
                            <select name="id_usuario" id="id_usuario" class="form-select" required>
                                <% usuarios.forEach(function(usuario) { %>
                                    <option value="<%= usuario.id %>" <%= usuario.id === medico.id_usuario ? 'selected' : '' %>><%= usuario.nombre %></option>
                                <% }); %>
                            </select>
                        </div>
        
                        <div class="form-group mb-3">
                            <label for="id_especialidad">Especialidad:</label>
                            <select name="id_especialidad" id="id_especialidad" class="form-select">
                                <% especialidades.forEach(function(especialidad) { %>
                                    <option value="<%= especialidad.id %>" <%= especialidad.id === medico.id_especialidad ? 'selected' : '' %>><%= especialidad.nombre_especialidad %></option>
                                <% }); %>
                            </select>
                        </div>
        
                        <div class="form-group mb-3">
                            <label for="telefono">Teléfono:</label>
                            <input type="text" name="telefono" id="telefono" class="form-control" value="<%= medico.telefono %>" required>
                        </div>
        
                        <div class="form-group mb-3">
                            <label for="descripcion">Descripción:</label>
                            <textarea name="descripcion" id="descripcion" class="form-control" required><%= medico.descripcion %></textarea>
                        </div>
        
                        <div class="form-group mb-3">
                            <label for="foto">Foto:</label>
                            <input type="file" name="foto" id="foto" class="form-control">
                        </div>
        
                        <button type="button" class="btn btn-guardar" id="guardar">Guardar</button>
                        <a href="/medicos" class="btn btn-cancelar">Cancelar</a>
                    </form>
        
                    <% if (medico.foto != "") { %>
                        <div class="foto-actual">
                            <img src="<%= medico.foto %>" class="img-thumbnail" alt="Foto del Médico">
                        </div>
                    <% } %>
                </div>
                
                <div class="contenedor-volver-atras">
                    <i class="fa-solid fa-arrow-left"></i>
                    <a href="/medicos">Volver Atrás</a>
                </div>
                
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        const botonGuardar = document.getElementById("guardar");

        botonGuardar.addEventListener("click", async () => {
            const form_data = new FormData(document.getElementById("editarMedicoForm"));
            form_data.append("id", <%= medico.id %>);

            const results = await fetch('/medico/editar/<%= medico.id %>', {
                method: 'POST',
                body: form_data,
            });

            const data = await results.json();
            if (data.success) {
                // Mostrar SweetAlert2 en caso de éxito
                Swal.fire({
                    icon: 'success',
                    title: 'Actualización Exitosa',
                    text: 'Los datos del médico se actualizaron correctamente.',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    location.href = "/medicos"; // Redirigir después de cerrar el alerta
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'Hubo un problema con los valores.',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    </script>
</body>
</html>