<!DOCTYPE html>
<html lang="es">
<head>
</head>
<body>
    <h1>Editar Información</h1>

    <% if (medicos) %>
    <form action="/medicos/editar" method="POST"> <!-- Creo el formulario -->
        <input id="id" name="id" value="<%= medicos.id %>" hidden> <!-- Input oculto para capturar el id del registro a editar -->
        <div>
            <label>Nombre y Apellido</label>
            <input type="text" id="medico" name="medico" value="<%= medicos.id_usuario %>"> <!-- Input para cambiar el nombre y apellido -->
        </div>
        <div>
            <label>Telefono</label>
            <input type="text" name="telefono" value="<%= medicos.telefono %>"> <!-- Input para cambiar el teléfono -->
        </div>
        <div>
            <label>Especialidad</label>
            <select id="especialidad" name="especialidad"> <!-- Despliego el menu para cambiar la especialidad -->
                <option value="1" <%= medico.id_especialidad === 1 ? "selected" : '' %>>Oftalmología</option>
                <option value="2" <%= medico.id_especialidad === 2 ? "selected" : '' %>>Neurocirugía</option>
                <option value="3" <%= medico.id_especialidad === 3 ? "selected" : '' %>>Cardiología</option>
                <option value="4" <%= medico.id_especialidad === 4 ? "selected" : '' %>>Ginecología</option>
                <option value="5" <%= medico.id_especialidad === 5 ? "selected" : '' %>>Cirugía Gral</option>
                <option value="6" <%= medico.id_especialidad === 6 ? "selected" : '' %>>Clínica médica</option>
                <option value="7" <%= medico.id_especialidad === 7 ? "selected" : '' %>>Nutrición</option>
            </select>
        </div>
        <button type="submit">Guardar</button> <!-- Boton para guardar -->
        <a href="/medicos/listar">Cancelar</a> <!-- Boton para cancelar y volver al ejs de listar -->
    </form>
    <% } %>
</body>
</html>