<!DOCTYPE html>
<html lang="es">
<head>
</head>
<body>
    <h1>Listado de Médicos</h1>

    <!-- Botón para crear un nuevo médico -->
    <a href="/medicos/crear" style="margin-bottom: 15px; display: inline-block;">
        <button type="button">Crear Nuevo Médico</button> <!--  -->
    </a>

    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>         <!-- Columnas de la tabla -->
                <th scope="col">Usuario</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach((medicos) => { %>    <!-- For para recorrer la tabla médicos -->
            <tr>
                <td><%= medicos.id %></td>          <!-- Filas donde muestro los resultados obtenidos -->
                <td><%= medicos.usuario %></td>
                <td><%= medicos.especialidad %></td>
                <td><%= medicos.telefono %></td>
                <td>
                    <a href="/medicos/editar/<%= medicos.id %>" style="margin: 5px 10px 0px 10px; display: inline-block;">editar</a> <!-- Boton de editar un registro -->
                    <a href="/medicos/eliminar/<%= medicos.id %>" style="margin-bottom: 15px; display: inline-block;">eliminar</a> <!-- Boton para eliminar un registro -->
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</body>
</html>