<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Médico</title>
</head>
<body>
    <h1>Insertar Médico</h1>
    <div> <!--Trabajamos con div para luego con Form Data, en JS, simular un formulario (eso para poder pasar la imagen a un JSON) -->
        <label for="id_usuario">Nombre:</label>
        <select name="id_usuario" id="id_usuario" required>
            <% usuarios.forEach(function(usuario) { %>
                <option value="<%= usuario.id %>" <%= usuario.id === medico.id_usuario ? 'selected' : '' %>><%= usuario.nombre %></option>
            <% }); %>
        </select><br>        

        <label for="id_especialidad">Especialidad:</label>
        <select name="id_especialidad" id="id_especialidad">
            <% especialidades.forEach(function(especialidad) { %>
                <option value="<%= especialidad.id %>" <%= especialidad.id === medico.id_especialidad ? 'selected' : '' %>><%= especialidad.nombre_especialidad %></option>
            <% }); %>
        </select><br>

        <label for="telefono">Teléfono:</label>
        <input type="text" name="telefono" id="telefono" value="<%= medico.telefono %>" required min=""><br>

        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" id="descripcion" required><%= medico.descripcion %></textarea><br>

        <label for="foto">Foto:</label>
        <input type="file" name="foto" id="foto"><br>

        <% if (medico.foto != "") { %>
            <img src="<%= medico.foto %>">
        <% } %>

        <button type="button" class="guardar">Guardar</button>
        <a href="/medicos">Cancelar</a>
    </div>

    <script>
        const botonGuardar = document.querySelector(".guardar");

        botonGuardar.addEventListener("click", async () => {
            const medicoUsuario = document.querySelector("#id_usuario").value;
            const medicoEspecialidad = document.querySelector("#id_especialidad").value;
            const medicoTelefono = document.querySelector("#telefono").value;
            const medicoDescripcion = document.querySelector("#descripcion").value;
            const medicoFoto = document.querySelector("#foto").value;

            const form_data = new FormData(); //agarramos los datos que obtuvimos en los input y los convertimos en un "falso formulario" para poder trabajar con la imagen 
            form_data.append("id", <%= medico.id %>);
            form_data.append("id_usuario", medicoUsuario);
            form_data.append("id_especialidad", medicoEspecialidad);
            form_data.append("telefono", medicoTelefono);
            form_data.append("descripcion", medicoDescripcion);
            form_data.append("foto", document.querySelector("#foto").files[0]);

            const results = await fetch('/medico/agregar/0', {
                method: 'POST',
                body: form_data,
            });

            //convertimos el "formulario" en un json
            const data = await results.json();
            if (data.success) {
                location.href = "/medicos";
            } else {
                alert("Hubo un problema con los valores");
            }
        });
    </script>
</body>
</html>