<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insertar Médico</title>
</head>
<body>
    <h1>Insertar Nuevo Médico</h1>
    <form action="/medico/guardar" method="POST">
        <label for="id_usuario">Nombre:</label>
        <select name="id_usuario" id="id_usuario" required>
            <% usuarios.forEach(function(usuario) { %>
                <option value="<%= usuario.id %>"><%= usuario.nombre %></option>
            <% }); %>
        </select><br>

        <label for="id_especialidad">Especialidad:</label>
        <select name="id_especialidad" id="id_especialidad" required>
            <% especialidades.forEach(function(especialidad) { %>
                <option value="<%= especialidad.id %>"><%= especialidad.nombre_especialidad %></option>
            <% }); %>
        </select><br>

        <label for="telefono">Teléfono:</label>
        <input type="text" name="telefono" id="telefono" required><br>

        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion" id="descripcion" required></textarea><br>

        <label for="foto">Foto:</label>
        <input type="file" name="foto" id="foto"><br>

        <button class="guardar" type="submit">Guardar</button>
        <a href="/medicos">Cancelar</a>
    </form>

    <script>
        const botonGuardar = document.querySelector(".guardar");

        botonGuardar.addEventListener("click", async() => {
            const medicoNombre = document.querySelector("#id_usuario").value;
            const medicoEspecialidad = document.querySelector("#id_especialidad").value;
            const medicoTelefono = document.querySelector("#telefono").value;
            const medicoDescripcion = document.querySelector("#descripcion").value;
            const medicoFoto = document.querySelector("#foto").value;
            console.log('Probando');
            const datos = {
                id_usuario: medicoNombre,
                id_especialidad: medicoEspecialidad,
                telefono: medicoTelefono,
                descripcion: medicoDescripcion,
                foto: medicoFoto,
                id: <%=medico.id%>,
            }

            const results = await fetch('/medico/agregar/0', {
                method: 'POST',
                body: JSON.stringify(datos),
                headers: {
                    'Content-Type': 'application/json'
                }
            })

            const data = await results.json();
            if(data.success == true){
                location.href = "/medicos";
            }else{
                alert("Hubo un problema con los valores");
            }
        })
    </script>
</body>
</html>
