<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Médicos</title>
</head>
<body>
    <h1>Listado de Médicos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Teléfono</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% medicos.forEach(function(medico) { %>
                <tr>
                    <td><%= medico.id %></td>
                    <td><%= medico.nombre_medico %></td>
                    <td><%= medico.nombre_especialidad %></td>
                    <td><%= medico.telefono %></td>
                    <td><%= medico.descripcion %></td>
                    <td>
                        <a href="/medico/editar/<%= medico.id %>">Editar</a>
                        <a href="/medico/eliminar/<%= medico.id %>">Eliminar</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
        
    </table>
    <a href="/medico/insertar">Agregar Nuevo Médico</a>
</body>
</html>
