<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Médicos</title>
</head>
<body>
    <h1>Listado de Médicos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Especialidad</th>
                <th>Teléfono</th>
                <th>Descripción</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% medicos.forEach(function(medico) { %>
                <tr>
                    <td><%= medico.id %></td>
                    <td><%= medico.nombre_medico %></td>
                    <td><%= medico.nombre_especialidad %></td>
                    <td><%= medico.telefono %></td>
                    <td><%= medico.descripcion %></td>
                    <td><img width="100" height="100" src="<%= medico.foto %>" alt=""></td>
                    <td>
                        <button><a href="/medico/editar/<%= medico.id %>">Editar</a></button>
                        <button class="btnEliminar" data-id="<%= medico.id %>">Eliminar</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
        
    </table>
    <a href="/medico/agregar/0">Agregar Nuevo Médico</a>

    <script>
        document.querySelectorAll('.btnEliminar').forEach(button => {
            button.addEventListener('click', async() => {
                const medicoId = button.getAttribute('data-id');
                if (confirm('¿Estás seguro de que deseas eliminar este médico?')) {
                    const response = await fetch(`/medicos/eliminar/${medicoId}`, {
                        method: 'DELETE'
                    });
                    location.reload(); // Recargar la página después de eliminar
                }
            });
        });
    </script>

</body>
</html>
