<!DOCTYPE html>
<html lang="es">

<!--HEAD-->
<%- include('../commons/head-medicos') %>

<body>
    <div class="contenedor-flex">
        <div class="contenedor-barra-lateral">
            <!-- Mostrar el menú correspondiente basado en el idCategoriaUsuario -->
            <% if (categoria  === 1) { %>
                <%- include('../commons/menu-admin') %> <!-- Menú para administradores -->
            <% } else if (categoria  === 3) { %>
                <%- include('../commons/menu-secretarias') %> <!-- Menú para secretarias -->
            <% } else if (categoria === 2) { %>
                <%- include('../commons/menu-medicos') %> <!-- Menú para médicos -->
            <% } else { %>
                <p>No tienes permisos para ver este contenido.</p>
            <% } %>
        </div>
    
        <div class="contenedor-listado-agregar">
            <div class="contenedor mt-5 container-listado-medicos">
                <h1>Listado de Médicos</h1>
                <div class="listado-medicos sombra">
                    <table class="table table-striped table-bordered border rounded shadow-lg">
                        <thead>
                            <tr>
                                <th class="col">ID</th>
                                <th class="col">Nombre</th>
                                <th class="col">Especialidad</th>
                                <th class="col">Teléfono</th>
                                <th class="col">Descripción</th>
                                <th class="col">Foto</th>
                                <th class="col">Horarios</th>
                                <th class="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% medicos.forEach(function(medico) { %>
                                <tr>
                                    <td class="contenedor-id"><%= medico.id %></td>
                                    <td class="contenedor-nombre"><%= medico.nombre_medico %></td>
                                    <td><%= medico.nombre_especialidad %></td>
                                    <td><%= medico.telefono %></td>
                                    <td class="contenedor-descripcion"><%= medico.descripcion %></td>
                                    <td><img width="100" height="100" src="<%= medico.foto %>" alt=""></td>
                                    <td class="horarios">
                                        <% if (medico.horarios && medico.horarios.length > 0) { 
                                            const diasSemana = {
                                                "Lunes": "L",
                                                "Martes": "Ma",
                                                "Miércoles": "Mi",
                                                "Jueves": "J",
                                                "Viernes": "V",
                                                "Sábado": "S",
                                                "Domingo": "D"
                                            };
                                            const horariosPorDia = {}; 
                                            medico.horarios.forEach(function(horario) { 
                                                const dia = diasSemana[horario.dia_semana]; 
                                                const horaInicio = new Date('1970-01-01T' + horario.hora_inicio);
                                                const horaFin = new Date('1970-01-01T' + horario.hora_fin);
        
                                                const formatoHora = (hora) => {
                                                    return hora.getMinutes() === 0 
                                                        ? hora.getHours() 
                                                        : hora.toLocaleTimeString('es-AR', { hour: '2-digit', minute: '2-digit', hour12: false });
                                                };
        
                                                const horaInicioFormateada = formatoHora(horaInicio);
                                                const horaFinFormateada = formatoHora(horaFin);
        
                                                if (!horariosPorDia[dia]) { 
                                                    horariosPorDia[dia] = []; 
                                                } 
                                                horariosPorDia[dia].push(`de ${horaInicioFormateada} a ${horaFinFormateada}hs`);
                                            });
                                        %>
                                            <ul>
                                                <% Object.keys(horariosPorDia).forEach(function(dia) { %>
                                                    <li><strong><%= dia %>:</strong> <%= horariosPorDia[dia].join(' / ') %></li>
                                                <% }); %>
                                            </ul>
                                        <% } else { %>
                                            <p>No tiene horarios asignados</p>
                                        <% } %>
                                        
                                        <!--Botón de ver y editar horarios-->
        
                                        <button class="btn btn-ver-horarios">
                                            <a href="/medico/<%= medico.id %>/horarios" class="ver-editar-horarios">Ver/Editar Horarios</a>
                                        </button>
        
                                    </td>
                                    <td>
                                        <button class="btn btn-editar"><a href="/medico/editar/<%= medico.id %>" class="text-white text-decoration-none">Editar</a></button>
                                        <button class="btn btn-eliminar btnEliminar" data-id="<%= medico.id %>">Eliminar</button>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
        
                <div id="btn-agregar" class="btn btn-agregar"><a href="/medico/agregar/0">Agregar Nuevo Médico</a></div>
            </div>
        
            <!-- Ícono de flecha fijo en la esquina inferior derecha -->
            <div class="atajo-agregar" id="atajo-agregar">
                <a href="#btn-agregar" class="btn-flecha" id="btn-flecha">
                    <i class="fa-solid fa-arrow-down"></i>
                </a>
            </div>
        </div>
    </div>


    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.querySelectorAll('.btnEliminar').forEach(button => {
            button.addEventListener('click', async () => {
                const medicoId = button.getAttribute('data-id');
                if (confirm('¿Estás seguro de que deseas eliminar este médico?')) {
                    const response = await fetch(`/medicos/eliminar/${medicoId}`, {
                        method: 'DELETE'
                    });
                    location.reload();
                }
            });
        });

        //Botón fixed
        const atajoAgregar = document.getElementById('atajo-agregar');
        const btnFlecha = document.getElementById('btn-flecha');
        let lastScrollTop = 0;

        // Manejar el clic en el botón de flecha
        btnFlecha.addEventListener('click', () => {
            atajoAgregar.classList.add('hidden'); // Oculta el contenedor
        });

        // Mostrar/ocultar el contenedor basado en el scroll
        window.addEventListener('scroll', () => {
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            // Compara la posición del scroll actual con la anterior
            if (scrollTop < lastScrollTop) {
                // Scrolling hacia arriba
                atajoAgregar.classList.remove('hidden'); // Muestra el contenedor
            } else {
                // Scrolling hacia abajo
                atajoAgregar.classList.add('hidden'); // Oculta el contenedor
            }
            lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // Para evitar valores negativos
        });
    </script>
</body>
</html>
