<!DOCTYPE html>
<html lang="en">
    <%- include('../commons/head')%>
    <body>
        <div class="container">
            <div>
                <label>Nombre</label>
                <input id="usuario_nombre" value="<%- usuario.nombre %>">

                <label>Apellido</label>
                <input id="usuario_apellido" value="<%- usuario.apellido %>">

                <label>Email</label>
                <input id="usuario_email" value="<%- usuario.email %>">

                <label>Categoria</label>
                <input id="usuario_categoria" value="<%- usuario.categoria %>">

            </div>
        </div>
    </body>
</html>