<!--editarUsuario.ejs-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar Usuario</title>
    </head>
    <%- include('../commons/head')%>
    <body>
        <h1>Editar usuarios</h1>
        <div class="container">
            <div>
                
                <label>Nombre</label>
                <input id="usuario_nombre" value="<%= usuario.nombre %>">

                <label>Email</label>
                <input id="usuario_email" value="<%= usuario.email %>">

                <label>Password</label>
                <input id="usuario_password" type="password" value="<%= usuario.id === 0 ? '':'*******' %>">

                <label>Categoria</label>
                <select id="usuario_categoria"> 
                    <% categorias.forEach(function(category) { %>
                        <option value="<%= category.id %>" <%= (category.id === usuario.categoria) ? 'selected' : '' %> >
                            <%= category.nombre %>
                        </option>
                    <% }) %>
                </select>            
                <button type="button" class="btn-guardar" id="guardar">Guardar Usuario</button>
                <a href="/usuarios">Cancelar</a>
            </div>
        </div>
        <script>
            const botonGuardar = document.querySelector("#guardar");

            const usuarioNombre = document.querySelector("#usuario_nombre");
            const usuarioEmail = document.querySelector("#usuario_email");
            const usuarioPassword = document.querySelector("#usuario_password");
            const usuarioCategoria = document.querySelector("#usuario_categoria");

            botonGuardar.addEventListener("click", async () => {
                const datos = {
                    usuario_nombre: usuarioNombre.value,
                    usuario_email: usuarioEmail.value,
                    usuario_password: usuarioPassword.value,
                    usuario_categoria: usuarioCategoria.value
                };

                if (!usuarioNombre.value || !usuarioEmail.value || !usuarioCategoria.value) { 
                    alert("Todos los campos son requeridos.");
                    return;
                }

                const results = await fetch(`/usuario/editar/<%= usuario.id %>`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json' 
                    },
                    body: JSON.stringify({
                        id: "<%= usuario.id %>",
                        nombre: usuarioNombre.value,
                        email: usuarioEmail.value,
                        password: usuarioPassword.value,
                        categoria: usuarioCategoria.value
                    })
                });

                const data = await results.json();
                if (data.success) { 
                    alert ("Usuario guardado correctamente"); 
                    location.href = "/usuarios";  
                } else { 
                    alert ("No se pudieron actualizar los valores"); 
                }
            });
        </script>
    </body>
</html>