<!--editarUsuario.ejs-->
<!DOCTYPE html>
<html lang="en">
    
    <!--HEAD-->
    <%- include('../commons/head-usuarios') %>

    <body>
        <div class="contenedor-flex">
            <div class="contenedor-barra-lateral">
                <!-- Mostrar el menú correspondiente basado en el idCategoriaUsuario -->
                <% if (categoria  === 1) { %>
                    <%- include('../commons/menu-admin') %> <!-- Menú para administradores -->
                <% } else if (categoria  === 3) { %>
                    <%- include('../commons/menu-secretarias') %> <!-- Menú para secretarias -->
                <% } else if (categoria === 2) { %>
                    <%- include('../commons/menu-medicos') %> <!-- Menú para médicos -->
                <% } else { %>
                    <p>No tienes permisos para ver este contenido.</p>
                <% } %>
            </div>

            <div class="contenedor-editar">
                <div class="container contenedor-formulario-editar">
                    <h1>Editar usuarios</h1>
                    <div class="formulario-editar">
                        
                        <div class="form-group">
                            <label>Nombre</label>
                            <input id="usuario_nombre" value="<%= usuario.nombre %>" class="form-control">
                        </div>
                        
                        <div class="form-group">
                            <label>Email</label>
                            <input id="usuario_email" value="<%= usuario.email %>" class="form-control">
                        </div>
                        
                        <div class="form-group">
                            <label>Password</label>
                            <input id="usuario_password" type="password" value="<%= usuario.id === 0 ? '':'*******' %>" class="form-control">
                        </div>
                        

                        <div class="form-group">
                            <label>Categoria</label>
                            <select id="usuario_categoria" class="form-select"> 
                                    <% categorias.forEach(function(category) { %>
                                    <option value="<%= category.id %>" <%= (category.id === usuario.categoria) ? 'selected' : '' %> >
                                        <%= category.nombre %>
                                    </option>
                                <% }) %>
                            </select>            
                        </div>
                        
                        <div class="botones">
                            <button type="button" class="btn btn-guardar" id="guardar">Guardar Usuario</button>
                            <a href="/usuarios" class="btn btn-cancelar">Cancelar</a>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <script>
            const botonGuardar = document.querySelector("#guardar");

            const usuarioNombre = document.querySelector("#usuario_nombre");
            const usuarioEmail = document.querySelector("#usuario_email");
            const usuarioPassword = document.querySelector("#usuario_password");
            const usuarioCategoria = document.querySelector("#usuario_categoria");

            botonGuardar.addEventListener("click", async () => {
                const datos = {
                    usuario_nombre: usuarioNombre.value,
                    usuario_email: usuarioEmail.value,
                    usuario_password: usuarioPassword.value,
                    usuario_categoria: usuarioCategoria.value
                };

                if (!usuarioNombre.value || !usuarioEmail.value || !usuarioCategoria.value) { 
                    alert("Todos los campos son requeridos.");
                    return;
                }

                const results = await fetch(`/usuario/editar/<%= usuario.id %>`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json' 
                    },
                    body: JSON.stringify({
                        id: "<%= usuario.id %>",
                        nombre: usuarioNombre.value,
                        email: usuarioEmail.value,
                        password: usuarioPassword.value,
                        categoria: usuarioCategoria.value
                    })
                });

                const data = await results.json();
                if (data.success) { 
                    alert ("Usuario guardado correctamente"); 
                    location.href = "/usuarios";  
                } else { 
                    alert ("No se pudieron actualizar los valores"); 
                }
            });
        </script>
    </body>
</html>