<!--editarUsuario.ejs-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar Usuario</title>
    </head>
    <%- include('../commons/head')%>
    <body>
        <h1>Editar usuarios</h1>
        <div class="container">
            <p id="usuario_id"><%=usuario.id%></p>
            <div>
                <label>Nombre</label>
                <input id="usuario_nombre" value="<%= usuario.nombre %>">

                <label>Email</label>
                <input id="usuario_email" value="<%= usuario.email %>">

                <label>Password</label>
                <input id="usuario_password" type="password" value="<%= usuario.id === 0 ? '':'*******' %>">

                <label>Categoria</label>
                <select id="usuario_categoria"> 
                    <% categorias.forEach((category) => { %>
                        <option value="<%= category.id %>" <%= (category.id == usuario.id_categoriaPermiso) ? 'selected' : '' %> >
                            <%= category.nombre %>
                        </option>
                    <% }) %>
                </select>            
                <button class="guardar">Guardar Usuario</button>
                <a href="/usuarios">Cancelar</a>
            </div>
        </div>
        <script>
            const botonGuardar = document.querySelector(".guardar");

            const usuarioNombre = document.querySelector("#usuario_nombre");
            const usuarioEmail = document.querySelector("#usuario_email");
            const usuarioPassword = document.querySelector("#usuario_password");
            const usuarioCategoria = document.querySelector("#usuario_categoria");

            botonGuardar.addEventListener("click", async () => {
                const datos = {
                    usuario_nombre: usuarioNombre.value,
                    usuario_email: usuarioEmail.value,
                    usuario_password: usuarioPassword.value,
                    usuario_categoria: usuarioCategoria.value
                };

                if (!usuarioNombre.value || !usuarioEmail.value || !usuarioCategoria.value) { 
                    alert("Todos los campos son requeridos.");
                    return;
                }

                const results = await fetch(`/usuario/editar/${usuario.id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json' 
                    },
                    body: JSON.stringify({
                        usuario_nombre: usuarioNombre.value,
                        usuario_email: usuarioEmail.value,
                        usuario_password: usuarioPassword.value,
                        usuario_categoria: usuarioCategoria.value
                    })
                });

                const data = await result.json();
                if (data.success) { //si toda la acutalización es correcta, 
                    alert ("Usuario guardado correctamente"); //avisa que lo fue
                    location.href = "/usuarios";  //volve al inicio
                } else { //si la actualización fue incorrecta
                    alert ("No se pudieron actualizar los valores"); //envia una alerta que lo fue
                }
            });
        </script>
    </body>
</html>