<!--listado.ejs-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado de Usuarios</title>
        <link rel="stylesheet" href="/public/css/listadoUsuarios.css">
        <!-- Tipografía "Montserrat" de Google Fonts que vamos a usar en todo el sitio -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="icon" href="/public/img/Icono redondeado CMV .png" type="image/x-icon"> <!--icono al lado del nombre del documento en la página-->
    </head>
    <header>
        <div class="agrego">
            <div id="btn-agregar" class="btn-agrega"><a href="/usuario/agregar/0">Crear Usuario</a></div> <!--Aca creo el usuario de cero, aparece un boton para crearlo-->
            <div id="btn-logout" class="btn-logout"><a href="/logout">Cerrar sesión</a></div>
        </div>
    </header>
    <body>
        <h1>Listado de Usuarios</h1>
        <div class="contenedor-usuarios">
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Categoria</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.forEach(function(user) { %>
                        <tr>
                            <td><%= user.id %></td>
                            <td><%= user.nombre %></td>
                            <td><%= user.email %></td>
                            <td><%= user.categoria %></td>
                            <td>
                                <button class="btn-editar"><a href="/usuario/editar/<%= user.id%>">Editar</a></button>
                                <button class="btn-borrar" data-id="<%= user.id %>">Eliminar</button>
                            </td>
                        </tr>
                    <% }); %>   
                </tbody>
            </table>
        </div>

        <script>
            document.querySelectorAll('.borrarUsuario').forEach(button => {
            button.addEventListener('click', async() => {
                const userId = button.getAttribute('data-id');
                if (confirm('¿Estás seguro de que deseas eliminar este usuario?')) {
                    const response = await fetch(`/usuario/eliminar/${userId}`, {
                        method: 'DELETE'
                    });     
                    location.reload(); 
                }
            });
        });
        </script>

    </body>
</html>