<!DOCTYPE html>
<html>
    <%- include('../commons/head')%> <!--El guion medio permite que siempre que estamos incluyendo el archivo, traiga el html completo-->
    <body class="container">
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Categoria</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% usuarios.forEach((user) => { %>
                    <tr>
                        <td><%- user.id %></td>
                        <td><%- user.nombre %></td>
                        <td><%- user.apellido %></td>
                        <td><%- user.email %></td>
                        <td><%- user.categoria %></td>
                        <td>
                            <a href="/usuario/<%- user.id%>">Editar Usuario</a> <!--OPCION, llevamos al usuario a un nuevo url(Nueva ruta)-->
                        </td>
                    </tr>
                <% }) %>   
            </tbody>
        </table>
    </body>
</html>
