<!DOCTYPE html>
<html>
    <%- include('../commons/head')%> <!--El guion medio permite que siempre que estamos incluyendo el archivo, traiga el html completo-->
    <body>
        <div class="container">

            <a href="/usuario/0">Crear Usuario</a> <!--Aca creo el usuario de cero, aparece un boton para crearlo-->

            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Categoria</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.forEach((user) => { %>
                        <tr>
                            <td><%- user.id %></td>
                            <td><%- user.nombre %></td>
                            <td><%- user.apellido %></td>
                            <td><%- user.email %></td>
                            <td><%- user.categoria %></td>
                            <td>
                                <a href="/usuario/<%- user.id%>">Editar Usuario</a> <!--OPCION, llevamos al usuario a un nuevo url(Nueva ruta)-->
                                <button onclick="eliminarUsuario(<%= user.id %>)">Eliminar Usuario</button>
                            </td>
                        </tr>
                    <% }) %>   
                </tbody>
            </table>
        </div>

        <script>
            async function eliminarUsuario(id) {
              const resultado = fetch(`/usuario/${id}`, { 
                method: 'delete',
              });
              
              const data = await resultado.json();

              if (data.success == true) {
                location.reload();
              }
            }
        </script>

    </body>
</html>

<!DOCTYPE html>
<html>
    <%- include('../commons/head')%> <!--El guion medio permite que siempre que estamos incluyendo el archivo, traiga el html completo-->
    <body>
        <div class="container">

            <a href="/usuario/0">Crear Usuario</a> <!--Aca creo el usuario de cero, aparece un boton para crearlo-->

            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Categoria</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.forEach((user) => { %>
                        <tr>
                            <td><%- user.id %></td>
                            <td><%- user.nombre %></td>
                            <td><%- user.apellido %></td>
                            <td><%- user.email %></td>
                            <td><%- user.categoria %></td>
                            <td>
                                <a href="/usuario/<%- user.id%>">Editar Usuario</a> <!--OPCION, llevamos al usuario a un nuevo url(Nueva ruta)-->
                                <button onclick="eliminarUsuario(<%= user.id %>)">Eliminar Usuario</button>
                            </td>
                        </tr>
                    <% }) %>   
                </tbody>
            </table>
        </div>

        <script>
            async function eliminarUsuario(id) {
              const resultado = fetch(`/usuario/${id}`, { 
                method: 'delete',
              });
              
              const data = await resultado.json();

              if (data.success == true) {
                location.reload();
              }
            }
        </script>

    </body>
</html>
