<!--listado.ejs-->
<!DOCTYPE html>
<html>
    <%- include('../commons/head')%> <!--El guion medio permite que siempre que estamos incluyendo el archivo, traiga el html completo-->
    <body>
        <div class="container">
            <a href="/usuario/0">Crear Usuario</a> <!--Aca creo el usuario de cero, aparece un boton para crearlo-->
            <table>
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Categoria</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.forEach((user) => { %>
                        <tr>
                            <td><%- user.id %></td>
                            <td><%- user.nombre %></td>
                            <td><%- user.email %></td>
                            <td><%- user.categoria %></td>
                            <td>
                                <a href="/usuario/<%= user.id%>">Editar Usuario</a> <!--OPCION, llevamos al usuario a un nuevo url(Nueva ruta)-->
                                <button class="borrarUsuario" data-id="<%= user.id %>">Eliminar Usuario</button>
                            </td>
                        </tr>
                    <% }) %>   
                </tbody>
            </table>
        </div>

        <script>
            document.querySelectorAll('.borrarUsuario').forEach(button => {
            button.addEventListener('click', async() => {
                const userId = button.getAttribute('data-id');
                if (confirm('¿Estás seguro de que deseas eliminar este usuario?')) {
                    const response = await fetch(`/usuarios/eliminar/${userId}`, {
                        method: 'DELETE'
                    });
                    location.reload(); // Recargar la página después de eliminar
                }
            });
        });
        </script>
    </body>
</html>