<!DOCTYPE html>
<html lang="en">
<!--HEAD-->
<%- include('../commons/head-web') %>

<body>
    <!-- Menú de navegación -->
    <%- include('../commons/menu-web') %>

    <div class="container-profesionales">
        <div class="textos-profesionales">
            <h1>Conocé a nuestro Equipo Médico</h1>
            <div class="linea"></div>
            <p>Atención médica integral</p>
            <div class="especialidades-container">
                <article>
                    <div class="serv-1 sombraProfesionales"><i class="fa-regular fa-stethoscope"></i></div>
                </article>
                <article>
                    <div class="serv-2 sombraProfesionales"><i class="fa-regular fa-eye"></i></div>
                </article>
                <article>
                    <div class="serv-3 sombraProfesionales"><i class="fa-regular fa-head-side-brain"></i></div>
                </article>
                <article>
                    <div class="serv-4 sombraProfesionales"><i class="fa-solid fa-venus"></i></div>
                </article>
                <article>
                    <div class="serv-1 sombraProfesionales"><i class="fa-regular fa-heart-circle-bolt"></i></div>
                </article>
                <article>
                    <div class="serv-2 sombraProfesionales"><i class="fa-regular fa-wave-pulse"></i></div>
                </article>
                <article>
                    <div class="serv-3 sombraProfesionales"><i class="fa-regular fa-syringe"></i></div>
                </article>
                <article>
                    <div class="serv-4 sombraProfesionales"><i class="fa-regular fa-user-doctor-hair-long"></i></div>
                </article>
            </div>
        </div>
        <div class="imagen-profesionales">
            <img src="/public/img/profesionales-bienvenida.png" alt="imagen de los profesionales">
        </div>
    </div>
    
    <div class="container-tarjetas-medicos">
        <div class="container-medicos">
            <% if (medicos && medicos.length > 0) { %>
                <% medicos.forEach(function(medico) { %>
                    <div class="tarjeta-medico">
                        <img src="<%= medico.foto %>" alt="Foto de <%= medico.nombre_medico %>" class="medico-foto">
                        <h2 class="medico-nombre"><%= medico.nombre_medico %></h2>
                        <p class="medico-especialidad">Especialidad: <%= medico.nombre_especialidad %></p>
                        <p class="medico-descripcion">Descripción: <%= medico.descripcion %></p>
                        <button class="medico-contacto" onclick="window.location.href='/pedirTurno';">Pedir turno</button>
                    </div>
                <% }); %>
            <% } else { %>
                <!-- Mensaje si no hay médicos disponibles -->
                <p>No hay médicos disponibles en este momento.</p>
            <% } %>
        </div>
    </div>

    <!--FOOTER-->
    <%- include('../commons/footer-web') %>
    
</body>
</html>