<!DOCTYPE html>
<html lang="es">
<!--HEAD-->
<%- include('../commons/head-turnos') %>

<body>
    <div class="contenedor-flex">
        <div class="contenedor-barra-lateral">
            <%- include('../commons/menu-secretarias') %>
        </div>
    
        <div class="contenedor-agregar">
            <div class="container my-5 contenedor-agregar-turno">
                <h1 class="text-center mb-4">Agregar Turno</h1>
        
                <form>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Médico</th>
                                <th>Paciente</th>
                                <th>Fecha (Año/Mes/Día)</th>
                                <th>Hora (HH:MM)</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <select class="form-select" id="medico_nombre" name="medico_nombre">
                                            <% medicos.forEach((medico) => { %>
                                                <option value="<%= medico.id %>" <%= turno.id_medico == medico.id ? 'selected' : '' %> >
                                                    <%= medico.nombre_medico %>
                                                </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select class="form-select" id="paciente_nombre" name="paciente_nombre">
                                            <% pacientes.forEach((paciente) => { %>
                                                <option value="<%= paciente.id %>" <%= turno.id_paciente == paciente.id ? 'selected' : '' %> >
                                                    <%= paciente.nombre %>
                                                </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </td>
                                <%let date = new Date(turno.fecha_hora)%>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" id="fecha" type="date" value="<%=date.getFullYear()%>-<%=date.getMonth()+1%>-<%=date.getDate()%>">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="form-control" id="hora" type="time" value="<%=date.getHours()%>:<%=date.getMinutes()%>">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <select class="form-select" id="id_estadoTurno" name="estado_turno">
                                            <% estado_turnos.forEach((estado_turno) => { %>
                                                <option value="<%= estado_turno.id %>" <%= estado_turno.id == turno.id_estadoTurno ? 'selected' : '' %> >
                                                    <%= estado_turno.estado_nombre %>
                                                </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-guardar guardar">Guardar</button>
                                    <button type="button" class="btn btn-cancelar"><a href="/turnos" class=" text-decoration-none">Cancelar</a></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
        
                <div class="contenedor-volver-atras">
                    <i class="fa-solid fa-arrow-left"></i>
                    <a href="/turnos">Volver Atrás</a>
                </div>
                
            </div>
        </div>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        const botonGuardar = document.querySelector(".guardar");
        
        botonGuardar.addEventListener("click", async () => {
            const turnoMedico = document.querySelector("#medico_nombre").value;
            const turnoPaciente = document.querySelector("#paciente_nombre").value;
            const turnoFecha = document.querySelector("#fecha").value;
            const turnoHora = document.querySelector("#hora").value;
            const fechaCompleta = `${turnoFecha} ${turnoHora}`;
            const turnoId_estadoTurno = document.querySelector("#id_estadoTurno").value;
            
            const datos = {
                id_medico: turnoMedico,
                id_paciente: turnoPaciente,
                fecha_hora: fechaCompleta,
                id_estadoTurno: turnoId_estadoTurno,
                id: <%= turno.id %>,
            };
            
            const results = await fetch('/turnos/agregar/0', {
                method: 'POST',
                body: JSON.stringify(datos),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const data = await results.json();
            if (data.success === true) {
                Swal.fire({
                    title: 'Turno Guardado',
                    text: 'El turno se guardó exitosamente',
                    icon: 'success',
                    confirmButtonText: 'OK'
                }).then((result) => {
                    if (result.isConfirmed) {
                        location.href = "/turnos";
                    }
                });
            } else {
                alert("Hubo un problema con los valores");
            }
        });
    </script>
</body>
</html>
