<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Turno</title>
</head>
<body>
    <h1>Agregar Turno</h1>
    <table border="1">

        <thead></thead>
            <tr>
                <th>Médico</th>
                <th>Paciente</th>
                <th>Fecha(Año/Mes/Día)</th>
                <th>Hora(HH:MM)</th>
                <th>Motivo</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
                <tr>
                    <td>
                        <select id="medico_nombre" name="medico_nombre">
                            <% medicos.forEach((medico) => { %>
                                <!-- Comprobamos si el médico es el que está asociado al turno actual -->
                                <option value="<%= medico.id %>" <%= turno.id_medico == medico.id ? 'selected' : '' %> >
                                    <%= medico.nombre_medico %>
                                </option>
                            <% }) %>
                        </select>
                    </td>
                    <td>
                        <select id="paciente_nombre" name="paciente_nombre">
                            <% pacientes.forEach((paciente) => { %>
                                <!-- Comprobamos si el paciente es el que está asociado al turno actual -->
                                <option value="<%= paciente.id %>" <%= turno.id_paciente == paciente.id ? 'selected' : '' %> >
                                    <%= paciente.nombre %>
                                </option>
                            <% }) %>
                        </select>
                    </td>
                    <%let date = new Date(turno.fecha_hora)%>
                    <td><input id="fecha_hora" type="date" value=" <%=date.getFullYear()%>/<%=date.getMonth()+1%>/<%=date.getDate()%>"></td>
                    <td><input id="fecha_hora" type="time" value="<%=date.getHours()%>:<%=date.getMinutes()%>"></td>
                    <td><input id="motivo" value="<%=turno.motivo%>"></td>
                    <td>
                        <button class="guardar">Guardar</a></button>
                        <button><a href="/turnos">Cancelar</a></button> 
                    </td>
                </tr>
        </tbody>
    </table>

    <script>
        const botonGuardar = document.querySelector(".guardar");
        
        botonGuardar.addEventListener("click", async()=>{
            const turnoMedico = document.querySelector("#medico_nombre").value;
            const turnoPaciente = document.querySelector("#paciente_nombre").value;
            const turnoFecha = document.querySelector("#fecha_hora").value;
            const turnoHora = document.querySelector("#fehca_hora").value;
            const fechaCompleta = `${turnoFecha} ${turnoHora}`; // Combinar la fecha y hora
            const turnoMotivo = document.querySelector("#motivo").value;
            
            const datos = {
                id_medico: turnoMedico,
                id_paciente: turnoPaciente,
                fecha_hora: fechaCompleta, // Usar fecha y hora combinada
                motivo: turnoMotivo,
                id: <%=turno.id%>,
            }
            const results = await fetch('/turnos/agregar/0', {
                method: 'POST',
                body: JSON.stringify(datos),
                headers: {
                    'Content-Type': 'application/json'
                }
            })

            const data = await results.json();
            if (data.success == true){
                location.href = "/turnos";
            } else {
                alert ("Hubo un problema con los valores");
            }
        });
    </script>
</body>
</html>