<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Turnos</title>
</head>
<body>
    <h1>Listado de Turnos</h1>
    <button><a href="/turnos/agregar/0">Agregar Turno</a></button>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Médico</th>
                <th>Paciente</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Motivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% turno.forEach(function(turno) { %>
                <tr>
                    <td><%= turno.turno_id %></td>
                    <td><%= turno.medico_nombre %></td>
                    <td><%= turno.paciente_nombre %></td>
                    <% let date = new Date(turno.fecha_hora) %>
                    <td><%= date.getDate() %> / <%= date.getMonth()+1 %> / <%= date.getFullYear() %></td>
                    <td><%= date.getHours() %>:<%= date.getMinutes() %></td>
                    <td><%= turno.motivo %></td>
                    <td>
                        <button><a href="/turnos/editar/<%= turno.turno_id %>">Editar</a></button>
                        <button class="btnEliminar" data-id="<%= turno.turno_id %>">Eliminar</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <script>
        document.querySelectorAll('.btnEliminar').forEach(button => {
            button.addEventListener('click', async() => {
                const turnoId = button.getAttribute('data-id');
                if (confirm('¿Estás seguro de que deseas eliminar este turno?')) {
                    const response = await fetch(`/turnos/eliminar/${turnoId}`, {
                        method: 'DELETE'
                    });
                    location.reload(); // Recargar la página después de eliminar
                }
            });
        });
    </script>
    
</body>
</html>