<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Turnos</title>
</head>
<body>
    <h1>Listado de Turnos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Médico</th>
                <th>Paciente</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Motivo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(function(turno) { %>
                <tr>
                    <td><%= turno.turno_id %></td>
                    <td><%= turno.medico_nombre %></td>
                    <td><%= turno.paciente_nombre %></td>
                    <% let date = new Date(turno.fecha_hora) %>
                    <td><%= date.getDate() %> / <%= date.getMonth()+1 %> / <%= date.getFullYear() %></td>
                    <td><%= date.getHours() %>:<%= date.getMinutes() %></td>
                    <td><%= turno.motivo %></td>
                    <td>
                        <a href="/turno/editar/<%= turno.id %>">Editar</a>
                        <a href="/turno/eliminar/<%= turno.id %>">Eliminar</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
        
    </table>
    <a href="/turno/insertar">Agregar Nuevo Turno</a>
</body>
</html>