<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Paciente</title>
</head>
<body>
    <h1>Editar Paciente</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Edad</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Obra Social</th>
                <th>N° Afiliado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td><input id="id" value="<%= paciente.id %>"></td>
                    <td><input id="nombre" value="<%= paciente.nombre %>"></td>
                    <td><input id="dni" value="<%= paciente.dni %>"></td>
                    <td><input id="edad" value="<%= paciente.edad %>"></td>
                    <td><input id="email" value="<%= paciente.email %>"></td>
                    <td><input id="telefono" value="<%= paciente.telefono %>"></td>
                    <td>
                        <select id="id_obrasocial" name="id_obrasocial" required>
                            <option value="">Seleccione una obra social</option>
                            <% obrasSociales.forEach(function(obra) { %>
                                <option value="<%= obra.id %>" <%= obra.id === paciente.id_obrasocial ? 'selected' : '' %>>
                                    <%= obra.nombre %>
                                </option>
                            <% }); %>
                        </select>
                    </td>
                    <td><input id="nro_afiliado" value="<%= paciente.nro_afiliado %>"></td>
                    <td>
                        <button class="guardar">Guardar</button>
                        <button><a href="/pacientes">Cancelar</a></button>
                    </td>
                </tr>
            
        </tbody>
    </table>
    
    <script>
        const botonGuardar = document.querySelector(".guardar");
        botonGuardar.addEventListener("click", async()=>{
            const pacienteNombre = document.querySelector("#nombre").value;
            const pacienteDNI = document.querySelector("#dni").value;
            const pacienteEdad = document.querySelector("#edad").value;
            const pacienteEmail = document.querySelector("#email").value;
            const pacienteTelefono = document.querySelector("#telefono").value;
            const pacienteId_obrasocial = document.querySelector("#id_obrasocial").value;
            const pacienteNro_afiliado = document.querySelector("#nro_afiliado").value;
            
            const datos = {
                id: <%=paciente.id%>,
                nombre: pacienteNombre,
                dni: pacienteDNI,
                edad: pacienteEdad,
                email: pacienteEmail,
                telefono: pacienteTelefono,
                id_obrasocial: pacienteId_obrasocial,
                nro_afiliado: pacienteNro_afiliado,
            };
            const results = await fetch('/pacientes/editar/<%= paciente.id %>', {
                method: 'POST',
                body: JSON.stringify(datos),
                headers: {
                    'Content-Type': 'application/json'
                }
            })

            const data = await results.json();
            if (data.success == true){
                location.href = "/pacientes";
                console.log(data);
            } else {
                alert ("Hubo un problema con los datos");
            }
        });
    </script>
</body>
</html>