<!DOCTYPE html>
<html lang="es">

<!--HEAD-->
<%- include('../commons/head-pacientes') %>

<body>
    <div class="contenedor-flex">
        <div class="contenedor-barra-lateral">
            <%- include('../commons/menu-secretarias') %>
        </div>
        <div class="contenedor-editar">
            <div class="container-fluid mt-5 contenedor">
                <h1 class="text-center">Editar Paciente</h1>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>DNI</th>
                                <th>Email</th>
                                <th>Telefono</th>
                                <th>Obra Social</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="contenedor-id"><input id="id" class="form-control-plaintext" value="<%= paciente.id %>" readonly></td>
                                <td><input id="nombre" class="form-control" value="<%= paciente.nombre %>"></td>
                                <td><input id="dni" class="form-control" value="<%= paciente.dni %>"></td>
                                <td><input id="email" class="form-control" value="<%= paciente.email %>"></td>
                                <td><input id="telefono" class="form-control" value="<%= paciente.telefono %>"></td>
                                <td>
                                    <select id="id_obrasocial" name="id_obrasocial" class="form-control" required>
                                        <option value="">Seleccione una obra social</option>
                                        <% obrasSociales.forEach(function(obra) { %>
                                            <option value="<%= obra.id %>" <%= obra.id === paciente.id_obrasocial ? 'selected' : '' %>>
                                                <%= obra.nombre %>
                                            </option>
                                        <% }); %>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-primary guardar">Guardar</button>
                                    <button class="btn btn-secondary">
                                        <a href="/pacientes" style="text-decoration: none; color: inherit;">Cancelar</a>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="contenedor-volver-atras">
                    <i class="fa-solid fa-arrow-left"></i>
                    <a href="/pacientes">Volver Atrás</a>
                </div>
            </div>
        </div>
    </div>


    <script>
        const botonGuardar = document.querySelector(".guardar");
        botonGuardar.addEventListener("click", async () => {
            const pacienteNombre = document.querySelector("#nombre").value.trim();
            const pacienteDNI = document.querySelector("#dni").value.trim();
            const pacienteEmail = document.querySelector("#email").value.trim();
            const pacienteTelefono = document.querySelector("#telefono").value.trim();
            const pacienteId_obrasocial = document.querySelector("#id_obrasocial").value;

            let errores = [];

            // Validar Nombre
            if (pacienteNombre === "") {
                errores.push("El nombre no puede estar vacío.");
            } else if (pacienteNombre.length > 40) {
                errores.push("El nombre no puede tener más de 40 caracteres.");
            } else if (!/^[a-zA-Z\sñÑ]+$/.test(pacienteNombre)) {
                errores.push("El nombre solo puede contener letras y espacios.");
            }

            // Validar DNI
            if (pacienteDNI === "") {
                errores.push("El DNI no puede estar vacío.");
            } else if (pacienteDNI.length > 8) {
                errores.push("El DNI no puede tener más de 8 dígitos.");
            } else if (pacienteDNI.length < 7) {
                errores.push("El DNI no puede tener menos de 7 dígitos.");
            } else if (!/^\d+$/.test(pacienteDNI)) {
                errores.push("El DNI solo puede contener números.");
            }

            // Validar Email
            if (pacienteEmail === "") {
                errores.push("El email no puede estar vacío.");
            } else if (pacienteEmail.length > 50) {
                errores.push("El email no puede tener más de 50 caracteres.");
            } else if (pacienteEmail.includes('ñ')) {
                errores.push("El correo electrónico es inválido, contiene espacios o caracteres no permitidos.");
            }

            // Validar Teléfono
            if (pacienteTelefono === "") {
                errores.push("El teléfono no puede estar vacío.");
            } else if (pacienteTelefono.length !== 10) {
                errores.push("El teléfono debe tener exactamente 10 dígitos.");
            } else if (!/^\d+$/.test(pacienteTelefono)) {
                errores.push("El teléfono solo puede contener números.");
            }


            // Validar que haya seleccionado una obra social
            if (!pacienteId_obrasocial) {
                errores.push("Debe seleccionar una obra social. De no tener alguna selecciona 'Ninguna de las anteriores'.");
            }

            // Mostrar errores si existen
            if (errores.length > 0) {
                alert(errores.join("\n"));
                return;
            }

            // Si todo es válido, enviamos los datos
            const datos = {
                id: <%= paciente.id %>,
                nombre: pacienteNombre,
                dni: pacienteDNI,
                email: pacienteEmail,
                telefono: pacienteTelefono,
                id_obrasocial: pacienteId_obrasocial
            };

            const results = await fetch('/pacientes/editar/<%= paciente.id %>', {
                method: 'POST',
                body: JSON.stringify(datos),
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            const data = await results.json();
            if (data.success) {
                location.href = "/pacientes";
                console.log(data);
            } else {
                alert("Hubo un problema con los datos");
            }
        });
    </script>
</body>
</html>